@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Track what films you've watched. Save films you want to see. Get recommendations for new films to watch</a>.</p>
</div>